<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Friends</title>
</head>
<body>
<span style="font-family: Arial,serif;">
		<h1 align="center">SocialNet</h1>
		<table width="100%" border="5" >
			<tr>
				<td width="50%" align="left">
					<p><a href="/*">My page</a></p>
					<p><a href="/friends">My friends(Beta)</a></p>
					<p><a href="messages">My messages(Beta)</a></p>
					<p><a href="/wschat">General chat</a></p>
					<p><a href="/exit">Exit</a></p>
				</td>
				<td width="50%" align="left" class="a">
					<p><h2>My friends:</h2></p>
						${friends}
				</td>
			</tr>
		</table>
	</span>
</body>
</html>