<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocialNet</title>
	<style>
		body {
			background: #f8f8ff; /* Цвет фона */
		}
	</style>
</head>
<body>
<span style="font-family: Arial,serif;">
		<h1 align="center">SocialNet</h1>
		<table width="100%" border="5" >
			<tr>
				<td width="50%" align="left">
					<p><a href="/*">My page</a></p>
					<p><a href="/friends">My friends(Beta)</a></p>
					<p><a href="/messages">My messages(Beta)</a></p>
                    <p><a href="/search">Search users(Beta)</a></p>
					<p><a href="/wschat">General chat</a></p>
					<p><a href="/exit">Exit</a></p>
				</td>
                <td width="50%" align="left" class="a">
					<form action="/search" method="post">
						Find users: <input type="search" name="search_query">
						<input type="submit" value="Search">
					</form>
					<p><h2>Users:</h2></p>
                    ${users}
				</td>
			</tr>
		</table>
	</span>
</body>
</html>