<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${name}</title>
	<style>
		body {
			background: #f8f8ff; /* Цвет фона */
		}
	</style>
</head>
<body>
<span style="font-family: Arial,serif;">
		<h1 align="center">SocialNet</h1>
		<table width="100%" border="5" >
			<tr>
				<td width="50%" align="left">
					<p><a href="/*">My page</a></p>
					<p><a href="/friends">My friends(Beta)</a></p>
					<p><a href="/messages" type="submit">My messages(Beta)</a></p>
					<p><a href="/search">Search users(Beta)</a></p>
					<p><a href="/wschat">General chat</a></p>
					<p><a href="/exit">Exit</a></p>
				</td>
				<td width="50%" align="left" class="a">
					<p><h2>Information:</h2></p>
                    <p>Name: ${name}</p>
					<p>Last Name: ${lastName}</p>
					<p>Age: ${age}</p>
					<p>eMail: ${email}</p>
					<p>Friends: ${friends_value}</p><br>
					<form action="/friends" method="post">
						<input type="submit" value="Add to friends">
					</form><br>
				</td>
			</tr>
		</table>
	</span>
</body>
</html>